* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
html {
    scroll-behavior: smooth;
}
 /*header styling starts here*/

.title {
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
    background-color:dodgerblue;
    color:#fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.title nav {

    margin-right: 20px;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: #fff
}

.title nav ul li {
    display: inline-block;;
    margin-left: 30px;
 
}
ul li {
    list-style: none;
}

nav a {
    color:rgba(231, 12, 12, 0.836);
}
/*header styling ends here*/

/* main styling starts here*/
main {
    display: flex;
    flex-wrap: wrap;
    margin: 3%
}


main section h2{
    text-align: center;
}

section {
    width: 100%;
    justify-content: center;
}

#about-me {
    height: 100%;
    width: 100%;
    text-align: center;
    border-style:ridge;
    margin: git auto;
}

#about-me img {
    width: 300px;
    height: 300px;    
} 

#my-work
 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


#feature-project {
    margin:auto;
    height: 1000px;
    width: 1500px;   
}

#feature-project img {
    width: 100%;
    height: 100%;
}

.secondary {

    width: 40%;
    height: 300px;
    margin: 40px;
    justify-content:center;
    display: flex;
    flex-wrap: justify center;
}
.secondary img {
    width: 500px;
    width: 500px;
    align-items: center;
}

div p {
    position: absolute;
    margin-left: 0;
    margin-top: 13.3px;
   }
   
#contact-me ul li,
#resume ul li {

    text-align: center;
    justify-content: center;
    height: 50px;
}
/* main ends starts here*/


@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }