* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
 /*header styling starts here*/

.title {
    padding: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50;
    background-color:dodgerblue;
    color:bisque
}

.title nav {

    margin-right: 20px;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
}

.title nav ul li {
    display: inline-block;;
    margin-left: 30px;
 
}

a {
    color:bisque;

}